.heroSection {
  background-color: #2c2c2c;
  color: white;
}

.arrowButtons {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.arrowButton {
  width: 40px;
  height: 40px;
  background-color: #333;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 10px;
}

.imgContainer {
  width: 500px;
  height: 500px;
  /* position: relative; */
}

/* Title style */
.title {
  font-family: "Montserrat", sans-serif;
  font-size: 40px !important;
  font-weight: 400;
}

/* Description style */
.description {
  font-size: 24px;
}
